body {
  background-color: lightgray;
}

.sorted-cats {
  width: 50%;
  background-color: lightblue;
  padding: 15px;
}

.expelled {
  width: 50%;
  background-color: black;
  color: white;
  padding: 15px;
}
